<ion-content [fullscreen]="true">
  <ion-header style="background-color: #0cbccc;" collapse="condense">

    <ion-toolbar>
      <ion-title size="large">mapa</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-input class="input" type="number" labelPlacement="floating" placeholder="Ingrese el costo por persona">
        <div slot="label">Costo por persona</div>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input class="input" type="number" labelPlacement="floating" placeholder="Ingrese el numero de espacios disponibles">
        <div slot="label">Número de espacio</div>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input class="input" type="text" labelPlacement="floating" placeholder="Ingrese la descripcion del viaje">
        <div slot="label">Descripcion</div>
      </ion-input>
    </ion-item>
  </ion-list>
  <ion-searchbar type="text"  [(ngModel)]="end" (input)="updateSearchResults()" placeholder="Destino" > </ion-searchbar>
  <br>
  <ion-list *ngIf="autocompleteItems" [hidden]="autocompleteItems.length === 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </ion-item>
</ion-list>
<br>
  <div #map id="map"></div>
  <ion-button expand="full" color="primary" href="/tellevo"> Guardar Ruta </ion-button>

</ion-content>
