
<ion-content [fullscreen]="true">
  <div class="background-image"><img src="https://previews.123rf.com/images/microone/microone1710/microone171000015/87287631-mapa-isométrico-3d-con-pines-de-ubicación-fondo-de-vector-de-navegación-gps-ruta-en-el-navegador.jpg" alt="Logo" class="logo"></div>
  <div id="conteiner">
    <div class="logo-container">
      <img src="https://cdn.domestika.org/c_fill,dpr_auto,f_auto,q_auto,w_820/v1568391459/content-items/003/266/851/Coche_01-original.gif?1568391459" alt="Logo" class="logo">
    </div>
    <div class="progress-container">
      <div class="progress-bar" id="loading-bar"></div>
    </div>
  </div>
</ion-content>
