  .splash-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 896; /* Usar altura completa de la ventana */
    background-color: #ffffff; /* Color de fondo opcional */
  }
  
  .logo-container {
    animation: logo-animation 3s ease infinite; /* Ejemplo de animación del logo */
  }
  
  .logo {
    width: 200px;
    height: 200px;
    margin-left: 100px;
    margin-top: 50%;
  }
  
  .progress-container {
    width: 80%; /* Ancho de la barra de carga en relación con la ventana */
    max-width: 300px; /* Ancho máximo de la barra de carga */
    height: 10px;
    background-color: #ddd; /* Color del fondo de la barra de carga */
    margin-top: 5%;
    margin-left: 50px;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .progress-bar {
    width: 0;
    height: 100%;
    background-color: #007bff; /* Color de la barra de carga */
    animation: fill-progress 5s linear forwards; /* Animación de llenado */
  }
  
  @keyframes logo-animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes fill-progress {
    100% {
      width: 100%;
    }
  }

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://previews.123rf.com/images/microone/microone1710/microone171000015/87287631-mapa-isométrico-3d-con-pines-de-ubicación-fondo-de-vector-de-navegación-gps-ruta-en-el-navegador.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7; /* Ajustar la opacidad según sea necesario */
    z-index: -1; /* Colocar detrás del contenido principal */
  }
