ion-menu-button {
  color: var(--ion-color-primary);
}

ion-content{
  --ion-background-color: #107acc;
}


.arriba{
  display: flex;
  justify-content: space-between;
}

.titulo{
  display: flex;
  justify-content: center;
}

.carta{
  border: 5px solid;
  height: 50vh;

}
