ion-content{
  --ion-background-color: #107acc;
}

ion-card-content > p{
  font-size: .8rem;
}

ion-button{
  padding: 0px 40px;
}

  ion-card{
    border-radius: 40px;
    border: 5px solid
  }

  ion-grid{
    display: flex;
  }


  .flip-card-front > img{
    width: 200px;
  }

  #pasajeroImagen > img{
    width: 130px;
  }


//Carta que gira
  .flip-card {
    margin: 15px;
    padding: 0;
    width: 400px;
    height: 280px;
}

    .flip-card-inner {
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: transform 0.5s;

      &:hover {
        transform: rotateY(180deg);
      }
    }

    .flip-card-front,
    .flip-card-back {
      width: 100%;
      height: 100%;
      position: absolute;
      backface-visibility: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid #ccc;
      background-color: #fff;
    }

    .flip-card-back {
      transform: rotateY(180deg);
    }


.contenedor{
  display: flex;
  flex-wrap: wrap;
}
